@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

$Poppins: 'Poppins', sans-serif;

.landing{
  :globals{
    font-family: $Poppins;
  }
}


@mixin container($width: min(95%, 1193px)) {
  display: grid;
  grid-template-columns: min(95%, 1193px);
  justify-content: center;
}



.header {
  @include container;

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;

    &__logoText {
      font-family: $Poppins;
      font-weight: 700;
    }

    > *:not(:last-child) {
      margin-right: .5rem;
    }
    
  }
}

.hero{
  @include container;
  text-align: center;

  &__heading{
    text-align: center;
  }
}

.footer{
  @include container;
}
