.page__title {
	margin-bottom: var(--size-fluid-1);
}

.fileList {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));

	.fileCard {
		padding: var(--size-fluid-2);
		border: 1px solid black;
		border-radius: var(--radius-conditional-2);
	}
}

.page__tools {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.page__header {
	margin-bottom: var(--size-fluid-2);
}

.users {
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 10px;

	h3 {
		margin-bottom: 5px;
	}

	.info {
		display: flex;
		align-items: center;

		.infoText {
			margin-left: 15px;
		}
	}
}
// .addFile__form {
// }
