.page__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	.file__name {
		width: 80%;
		border: none;
		padding: 0.25em;
		font-size: var(--font-size-fluid-2);
		font-weight: var(--font-weight-7);
		white-space: nowrap;
		overflow: hidden;
		-o-text-overflow: ellipsis;
		-ms-text-overflow: ellipsis;
		text-overflow: ellipsis;
	}
}

@media (min-width: 768px) {
	.page__content {
		display: grid;
		grid-template-columns: 3fr 1fr;
		gap: 2rem;
	}
}
