.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: var(--size-fluid-1);
}

.page_title {
	font-weight: var(--font-weight-9);
	font-size: var(--font-size-fluid-2);
}

.createInstitutionForm {
	padding: 1rem;
	width: var(--size-fluid-10);
}

.cardContainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
	margin-bottom: 20px;
}

.split {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.editProfile_form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.profileContent {
	margin-top: 50px;
}

@media screen and (min-width: 980px) {
	.cardContainer {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		gap: 20px;
	}
}
